<div class="container ta-center">
    <h1 class=" h1-n mt-m ">Propose a bet</h1>

    <p class="i-ta">
        <input class="b-n f-m mtb-m" type="text" id="homeBetAmount" placeholder="slide">
    </p>

    <div id="slider" class=" w-30 m-auto m-b-l"></div>

    <div class="container row gutters-t ">
        <p class="i-ta col  span-3-t W-100">
            <input placeholder="date" class="W-100 p-sm m-b-s " type="text" id="datepicker" ng-model="newBet.end">
        </p>

        <p class="i-ta col  span-6-t">
            <input placeholder="Description "class=" p-sm m-b-s " type="text" ng-model="newBet.description">
        </p>

        <p class="i-ta col  span-3-t">
            <input placeholder="Friend "class=" p-sm m-b-s" type="text" ng-model="newBet.reciever">
        </p>

    </div>
        <h3>Finalize</h3>

        <p>Amount: {{newBet.be_amount}}</p>
        <p>Description:{{newBet.description}}</p>
        <p>End Date:{{newBet.end}}</p>
        <p>Friend: {{newBet.reciever}}</p>
        <a href="/#/profile/active"><button class=" mt-m btn btn--m" ng-click="post()">Propose Bet</button></a>
</div>
