

  <!--=======================
   Main Information page
   ========================-->
<main role="profile" class="debug">
    <div class="container ta-center row debug">

      <!-- Mobile Header dropdown -->
      <div class="col span-3-t relative" ng-controller="HtmlController">

        <!-- need to hide this when in desktop mode... -->
        <button id="mobileMenu" class="btn btn--s debug" ng-click="mobileTab()">menu</button>

        <!-- Hidden by defalt -->
        <!-- tab version of data below... not the best.... -->
        <ul id="desktopMenu" class="lst-n ul-n debug container row p-sm gutters-t ">
          <li ui-sref="history" class=" mh col span-2-t debug" >History</li>
          <li ui-sref="active" class=" mh col span-2-t debug" >Active</li>
          <li ui-sref="outstanding" class="mh col span-2-t debug" >Outstanding</li>
          <li ui-sref="inactive" class="mh col span-2-t debug" >Inactive</li>
        </ul>

        <!-- mobile dropdown menu -->
        <ul class="lst-n ul-n debug absolute bgc-gray w-50 li-hover" ng-show="tabOptions" ng-repeat="option in tabOptions">
          {{ tabOptions }}
          <li class="debug" ui-serf='{{option}}' > {{ option }}</li>

        </ul>

      </div>
    </div>

    <div class="debug">

      <div ui-view="template"></div>

    </div>
</main>
    <!--=======================
   End main info page...
   ========================-->


