/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* {
    font-family: avenir, helvetica, roboto, arial, sans-serif;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.debug {
    border: 1px solid red;
}

/* Resets... */
.h1-n {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end:  0;
}

.ul-n {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}


p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

/******************
 Atomic Styles */

.z-top {z-index: 9999}
 /* font color */
 .fc-w {color: white;}

/* padding */
.p-xxs {}
.p-xs { padding: 0.4em; }
/* padding round list for images 50x50*/
.p-list { padding: 1.22em; }
/* button padding needs some work... */
.b-list { padding: .80em; }
.p-sm { padding: 0.58em; }
.p-med { padding: 1.2em;}
.p-large {}
.p-xl { padding: 10em; }
.p-xxl {}

/* Text align */
.ta-center { text-align: center; }
.ta-l { text-align: left; }

/* Float */
.fl-right { float: right;}
.fl-left { float: left;}

.w-50 { width: 50%; }
.w-30 { width: 30%; }
.w-95 { width: 95%; }
.w-100 { width: 100%; }

/* margin */
.m-auto { margin: 0 auto; }
.m-b-s {margin-bottom: .4em;}
.m-b-m {margin-bottom: .8em;}
.m-b-l {margin-bottom: 1.2em;}
.m-b-xxl {margin-bottom: 2em;}
.mt-s {margin-top: .5em;}
.mt-m {margin-top: .8em;}
.mtb-m {margin: 1em 0}

/* list */
.lst-n { list-style-type: none;}

/* positioning */
.absolute { position: absolute; }
.relative { position: relative; }
.right-15 { right: 15em; }

.t-p-sm {top: 2.5em;}

.b-sdw { box-shadow: 0 8px 6px -6px #777; }
.b-sdw-i-w { box-shadow: inset 0 0 5px #FFF; }

.i-ta input{ text-align: center; }

/* font */
.fnt-s {font-size: 1em;}
.f-m {font-size: 1.3em;}

/* background color */
.bgc-gray { background-color: gray; }
.active { background-color: #DCDCDC; }

/* tab needs action */
.needA { background-color: #90C695; color: white;}
.tabA { background-color: #e74c3c;}

/* Background Color */
.bc-lgray { background-color: #DCDCDC; }
.bc-owhite { background-color: #ECECEC; }

.bc-green { background-color:#27ae60; }
.bc-blue { background-color:#2980b9; }
.bc-lblue { background-color:#67809F; }
.bc-red { background-color:#e74c3c; }
.bc-orange { background-color:#f39c12; }
.bc-dgry{ background-color: #D2D7D3  }

/* User Images */

img {border-radius: 30px;}

/***************
Animate for fade in declare winner
*****************/
.fade.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}
.fade.ng-enter.ng-enter-active {
    opacity: 1;
}
/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.fade.ng-leave.ng-leave-active {
  opacity:0;
}




/* *************** */

.bb-r {border-bottom: 5px solid #e74c3c;}
.bb-w {border: 1px solid white;}

.errorBox {border: 3px solid red;}

/* full background */

/*.fbg {
    background: url(http://images3.alphacoders.com/575/575271.jpg) no-repeat center center fixed;
    background-size: cover;
    }*/

/* input */
.b-n {border: none;}


/* border */
.b1b {border: 1px solid #DCDCDC;}

/* clearfix*/
.cb { clear: both;}

/* Color */

/* Random */
.hide {display: none;}
.mh {cursor: pointer;}

/* hover */
.hover-g li:hover { background-color: #DCDCDC; }
.li-h-w li:hover { background-color: #D2D7D3;}

/* animation */
#desktopMenu li {
  -webkit-transition: background-color .4s linear;
  transition: background-color .4s linear;
}

#desktopMenu li:hover {
    background-color: #DCDCDC;
}






















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
