

<ul class="ul-n lst-n " ng-repeat="bet in bets.active">

  <li class=" m-b-s bc-lgray container row gutters-t gutters-d ta-center p-sm ">

    <div class="col span-3-t debug">
      Img placeholder
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.description}}</p>
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.bet_amount | currency}}</p>
    </div>



    <div class="col span-3-t debug">
      <div>
        <button class="btn btn--s" >declare winner</button>
        <ul class="ul-n lst-n absolute" ng-show="">
          <li ng-click="declareWinnerMe(bet.id, bet.creator)">me</li>
          <li ng-click="declareWinnerFriend(bet.id, bet.reciever)">other</li>
          <li ng-click="declareWinnerDraw(bet.id)">draw</li>
        </ul>
      </div>
    </div>

  </li>

</ul>

<ul class="ul-n lst-n debug" ng-repeat="bet in bets.inverse_active">

  <li class="debug container row gutters-t ta-center ">

    <div class="col span-3-t debug">
      Img placeholder
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.description}}</p>
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.bet_amount | currency}}</p>
    </div>



    <div class="col span-3-t debug">
      <div>
        <button class="btn btn--s" >declare winner</button>
        <ul class="ul-n lst-n absolute" ng-show="">
          <li ng-click="declareWinnerMe(bet.id, bet.reciever)">me</li>
          <li ng-click="declareWinnerFriend(bet.id, bet.creator)">other</li>
          <li ng-click="declareWinnerDraw(bet.id)">draw</li>
        </ul>
      </div>
    </div>

  </li>

</ul>




