<h3 class="ta-center d-hide h1-n m-b-s">Active </h3>

<ul class="ul-n lst-n " ng-repeat="bet in bets.active">

  <li class="b-sdw m-b-m bc-lgray container row gutters-t gutters-d ta-center p-sm ">

    <div class="col span-1-t ">
      <img src="{{ active_images[$index] }}">
    </div>

    <div class="col span-6-t  ">
      <p class="p-list">{{bet.description}}</p>
    </div>

    <div class="col span-2-t ">
      <p class="p-list">{{bet.bet_amount | currency}}</p>
    </div>



<!-- ng-hide="bet.user_vote" -->

    <div class="col span-3-t  b-list" id="voteField" >
      <!-- show when vote selected from dropdown... -->
      <p class="" ng-show="bet.user_vote">Vote Cast</p>

      <!-- this div gets hidden on vote selected -->
      <div class="relative" ng-controller="HtmlController">

        <!-- button -->
        <button class="btn btn--s" ng-click="declareW()" ng-hide="bet.user_vote">declare winner</button>

        <!-- drop down menu -->
        <!-- animate needs the class fade and ng-if -->
        <div class="absolute w-100 z-top">
          <ul class="ul-n lst-n li-h-w fade bc-owhite" ng-show="options" ng-if="options">
            <li class=" p-sm li-hover mh" ng-click="declareWinnerUser(bet.id, 'user')">me</li>
            <li class=" p-sm li-hover mh" ng-click="declareWinnerUser(bet.id, 'friend')">other</li>
            <li class=" p-sm li-hover mh" ng-click="declareWinnerUser(bet.id, 'draw')">draw</li>
          </ul>
        </div>

      </div>
    </div>

  </li>

</ul>

<ul class="ul-n lst-n " ng-repeat="bet in bets.inverse_active">

  <li class=" m-b-m bc-lgray container row gutters-t gutters-d ta-center p-sm b-sdw">

    <div class="  col span-1-t ">
      <img src="{{ active_inverse_images[$index] }}">
    </div>

    <div class="  col span-6-t ">
      <p class="p-list">{{bet.description}}</p>
    </div>

    <div class="  col span-2-t ">
      <p class="p-list">{{bet.bet_amount | currency}}</p>
    </div>


<!-- Friend Vote -->
    <div class="col span-3-t  b-list ">
      <!-- show when vote selected from dropdown... -->
      <p class="p-list" ng-show="bet.friend_vote">Vote Cast</p>

      <!-- hide on selection -->
      <div class=" relative" ng-controller="HtmlController">

        <button class="btn btn--s" ng-click="declareW()" ng-hide="bet.friend_vote">declare winner</button>

        <!-- drop down  -->
        <div class="absolute w-100 z-top">
          <ul class="  ul-n lst-n li-h-w ta-center bc-owhite fade "  ng-if="options">
            <li class="p-sm li-hover mh" ng-click="declareWinnerFriend(bet.id, 'friend', $event)">me
            </li>
            <li class="p-sm li-hover mh" ng-click="declareWinnerFriend(bet.id, 'user')">other
            </li>
            <li class="p-sm li-hover mh" ng-click="declareWinnerFriend(bet.id, 'draw')">draw</li>
          </ul>
        </div>

      </div>
    </div>
  </li>

</ul>






