
<ul class="ul-n lst-n " ng-repeat="bet in bets.inverse_inactive">


  <li class="b-sdw m-b-m p-sm container row gutters-t gutters-d ta-center needA ">

    <div class=" col span-1-t ">
    <img src="http://www.gravatar.com/avatar/6f1ee73002f145a28e6d559fc53347ad?d=mm&s=60">
    </div>

    <div class=" col span-5-t ">
      <p class="p-list ">{{bet.description}}</p>
    </div>

    <div class=" col span-2-t ">
      <p class="p-list ">{{bet.bet_amount | currency}}</p>
    </div>

    <div class=" col span-4-t b-list ">
        <button id="ad-btn" class="btn btn--s" ng-click="">accept</button>
        <button id="ad-btn" class="btn btn--s" ng-click="">decline</button>
    </div>

  </li>

</ul>


<ul class="ul-n lst-n " ng-repeat="bet in bets.inactive">

  <li class="b-sdw m-b-m p-sm  bc-lgray container row gutters-t gutters-d ta-center ">

    <div class="col span-1-t ">
      <img src="http://www.gravatar.com/avatar/6f1ee73002f145a28e6d559fc53347ad?d=mm&s=60">
    </div>

    <div class="col span-5-t ">
      <p class="p-list ">{{bet.description}}</p>
    </div>

    <div class="col span-2-t ">
      <p class="p-list ">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-4-t">
      <p class="p-list">awaiting decision<p/>
    </div>

  </li>

</ul>

