
<ul class="ul-n lst-n " ng-repeat="bet in bets.inverse_inactive">


  <li class="b-sdw m-b-m p-sm container row gutters-t gutters-d ta-center needA ">

    <div class="col span-3-t ">
      <p class="p-list ">Img placeholder</p>
    </div>

    <div class="col span-3-t ">
      <p class="p-list ">{{bet.description}}</p>
    </div>

    <div class="col span-3-t ">
      <p class="p-list ">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t ">
      <div>
        <button class="btn btn--s" ng-click="accept_bet(bet.id)">accept</button>
        <button class="btn btn--s" ng-click="decline_bet(bet.id)">decline</button>
    </div>

  </li>

</ul>


<ul class="ul-n lst-n " ng-repeat="bet in bets.inactive">

  <li class="b-sdw m-b-m p-sm  bc-lgray container row gutters-t gutters-d ta-center ">

    <div class="col span-3-t ">
      <p class="p-list ">Img placeholder</p>
    </div>

    <div class="col span-3-t ">
      <p class="p-list ">{{bet.description}}</p>
    </div>

    <div class="col span-3-t ">
      <p class="p-list ">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t">
      <p class="p-list ">awaiting decision<p/>
    </div>

  </li>

</ul>

