<ul class="ul-n lst-n debug">

  <li class="debug container row gutters-t ta-center ">

    <div class="col span-3-t debug">
      Img placeholder
    </div>

    <div class="col span-3-t debug">
      <p>Place holder text describing the bet</p>
    </div>

    <div class="col span-3-t debug">
      <p>$dollar amount here</p>
    </div>



    <div class="col span-3-t debug">
      <div>
        <button class="btn btn--s" ng-click="">accept</button>
        <button class="btn btn--s" ng-click="">decline</button>
      </div>
    </div>

  </li>

</ul>
