<div class="fbg w-100 h-100 absolute">
  <a class=""  href="https://api.venmo.com/v1/oauth/authorize?client_id=3073&scope=make_payments%20access_profile%20access_email%20access_friends%20access_phone%20access_balance&response_type=code" ng-mouseenter="hover = true" ng-mouseleave="hover=false">

    <div class=" w-50  container ta-center absolute w-50 pt-20 pl-5 p-lg " >

      <img class="  w-50" src="../../img/header-logo.png">
      <h3 class=" h1-n  fs-h fc-joji">Click Here to Login</h3>
      <img class="  w-lgem" src="../img/venmo_logo_blue.png">

  </div></a>
</div>

