<ul class="ul-n lst-n" ng-repeat="bet in bets.inverse_outstanding">

   <li class="p-sm m-b-s container row gutters-t gutters-d ta-center bc-lgray ">

    <div class="col span-3-t">
      Img placeholder {{ bet.creator }}

    </div>

    <div class="col span-3-t ">
      <p class="p-list">{{bet.description}}</p>
    </div>

    <div class="col span-3-t ">
      <p class="p-list">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t ">
      <div >

        <button class="btn btn--s" ng-click="getbetinfo(bet)">pay up</button>

      </div>

    </div>

  </li>

</ul>




<ul class="ul-n lst-n" ng-repeat="bet in bets.outstanding">


  <li class=" container row gutters-t gutters-d ta-center ">


    <div class="col span-3-t">
      Img placeholder {{ bet.reciever }}

    </div>

    <div class="col span-3-t ">
      <p>{{bet.description}}</p>
    </div>

    <div class="col span-3-t ">
      <p>{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t ">
      <div ng-controller="HtmlController">

        awaiting payment

      </div>

    </div>

  </li>

</ul>









