


<ul class="ul-n lst-n debug" ng-repeat="bet in bets.outstanding">

  <li class="debug container row gutters-t gutters-d ta-center ">

    <div class="col span-3-t debug">
      Img placeholder {{ bet.reciever }}
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.description}}</p>
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t debug">
      <div ng-controller="HtmlController">

        awaiting payment

      </div>

    </div>

  </li>

</ul>






<ul class="ul-n lst-n debug" ng-repeat="bet in bets.inverse_outstanding">

  <li class="debug container row gutters-t gutters-d ta-center ">

    <div class="col span-3-t debug">
      Img placeholder {{ bet.creator }}
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.description}}</p>
    </div>

    <div class="col span-3-t debug">
      <p>{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t debug">
      <div ng-controller="HtmlController">

        <button class="btn btn--s">pay up</button>

      </div>

    </div>

  </li>

</ul>



