<h3 class="ta-center d-hide h1-n m-b-s">Outstanding</h3>

<ul class="ul-n lst-n" ng-repeat="bet in bets.inverse_outstanding track by $index">

   <li class="b-sdw m-b-m p-sm container row gutters-t gutters-d ta-center needA ">
    <div class="col span-1-t">
       <img src="{{ outstanding_inverse_images[$index] }}">

      {{ bet.creator }}

    </div>

    <div class="col span-6-t ">
      <p class="p-list">{{bet.description}}</p>
    </div>

    <div class="col span-2-t ">
      <p class="p-list">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t ">
      <div class="b-list">

        <button class="btn btn--s" ng-hide="winchecker(bet)" ng-click="youpaynowcreator(bet)">pay up</button>
        <div ng-show="winchecker(bet)">Awaiting Payment</div>

      </div>

    </div>

  </li>

</ul>




<ul class=" ul-n lst-n" ng-repeat="bet in bets.outstanding track by $index">


  <li class="b-sdw m-b-m p-sm container row gutters-t gutters-d ta-center bc-lgray ">


    <div class="col span-1-t">
      <img src="{{ outstanding_images[$index] }}">
      {{ bet.reciever }}
    </div>

    <div class="col span-6-t ">
      <p class="p-list">{{bet.description}}</p>
    </div>

    <div class="col span-2-t ">
      <p class="p-list">{{bet.bet_amount | currency}}</p>
    </div>

    <div class="col span-3-t ">
      <div ng-controller="HtmlController">

        <button class="btn btn--s" ng-hide="winchecker(bet)" ng-click="youpaynowreciever(bet)">pay up</button>
        <div ng-show="winchecker(bet)">Awaiting Payment</div>

      </div>

    </div>

  </li>

</ul>









