<!DOCTYPE html>
<html>
<head>
  <title>Dbcparlay</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="container p-sm clearfix debug">
    <form method="get" action="https://api.venmo.com/v1/oauth/authorize?client_id=3073&scope=make_payments%20access_profile%20access_email%20access_phone%20access_balance&response_type=code">
      <button class=" btn btn--s fl-right">Login</button>
    </form>

  </nav>

<%= yield %>

</body>
</html>
